<!-- Entrenamiento -->
      <%= div_for training do %>
        <div class="arriba">
          <h4 class="date"><%= training.date %></h4>
          <div class="acciones">
            <% if training.runner == current_runner %>
              <ul><li><%= link_to '¿Editar?', edit_runner_training_path(training.runner, training) %></li>
              <li><%= link_to '¿Eliminar?', [training.runner, training], method: :delete, remote: true, data: { confirm: '¿Seguro?' }%></li></ul>
            <% else %>
              <p>---</p>
            <% end %>   
          </div>
        </div>
        <div class="centro">
          <h4 class="kms"><%= sprintf("%0.02f", training.kms) %><span> km</span></h4>
          <% if !training.time %> 
            <h4 class="time">Tiempo NO registrado</h4>
          <% else %>
            <h4 class="time"><%= "Tiempo: " + time=hms(training.time) %></h4>
          <% end %>
        </div>
        <div class="zapatillas">
            <% if training.shoe %>
              <%= link_to training.shoe.nombre.titleize, [training.runner, training.shoe] %>
            <% else %>
              <p>Unknown shoes</p>
            <% end %>
        </div>
        <div class="abajo">
          <div class="description">
            <p><%= training.description %></p>
          </div>
          <div class="comentarios">
            <% if training.comments.empty? %>
              <p>Sin comentarios</p>
            <% else %>
              <a class="enlacecomentarios">Ver comentarios</a>
              <!-- Comments tiene display none -->
              <p class="comments"><%= truncate(training.comments, length: 30, separator: ' ', omission: '...') %></p>
            <% end %>
          </div>  
        </div>
      <% end %>
<!-- Fin Entrenamiento -->