<!-- Entrenamiento -->
      <%= div_for training do %>
        <div class="arriba container">
          <h4 class="kms" data-kms=<%= sprintf("%0.02f", training.kms).to_s %> >
            <%= sprintf("%0.02f", training.kms) %><span> km</span>
          </h4>
          <% if !training.time %> 
            <h4 class="time">Tiempo NO registrado</h4>
          <% else %>
            <h4 class="time"><%= "Tiempo: " + time=hms(training.time) %></h4>
          <% end %>
        </div>
        <div class="zapatillas container">
            <% if training.shoe %>
              <%= link_to training.shoe.nombre.titleize, [training.runner, training.shoe] %>
            <% else %>
              <p>Unknown shoes</p>
            <% end %>
        </div>
        <div class="centro container">
          <div class="description">
            <p><%= training.description %></p>
          </div>
          <div class="comentarios">
            <% if training.comments.empty? %>
              <p>Sin comentarios</p>
            <% else %>
              <a class="enlacecomentarios">Comentarios</a>
              <!-- Comments tiene display none -->
              <p class="comments"><%= truncate(training.comments, length: 36, separator: ' ', omission: '...') %></p>
            <% end %>
          </div>  
        </div>
        <div class="abajo container">
          <h4 class="date"><%= training.date %></h4>
          <div class="acciones container">
            <% if training.runner == current_runner %>
              <ul><li><%= link_to '¿Editar?', edit_runner_training_path(training.runner, training) %></li>
              <li><%= link_to '¿Eliminar?', [training.runner, training], method: :delete, remote: true, data: { confirm: '¿Seguro?' }%></li></ul>
            <% else %>
              <% atleta = Runner.find(training.runner)%>
              <%= link_to truncate(atleta.name, length: 24, separator: ' ', omission: ''), runner_path(training.runner) %>
            <% end %>   
          </div>
        </div>
      <% end %>
<!-- Fin Entrenamiento -->