<!-- Formulario para nuevo entrenamiento -->
  <h3>¿Tienes un nuevo entrenamiento?</h3>
  <div id="nuevoentreno">
    
    <%= form_for([@runner, @training]) do |f| %> <!-- He quitado remote: true porque no salía ordenado -->
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% @training.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kms %><br>
    <%= f.text_field :kms %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.number_field :hours %>
  </div>
  <div class="field">
    <%= f.label :minutes %><br>
    <%= f.number_field :minutes %>
  </div>
  <div class="field">
    <%= f.label :seconds %><br>
    <%= f.number_field :seconds %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :shoe %><br>
    <% if @my_shoes.empty?%>
    <%= f.label "No hay zapatillas" %>
    <% else %>
    <%= f.collection_select :shoe_id, @my_shoes, :id, :nombre, {prompt: "Selecciona"} %>  
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br>
   <!-- <%= f.select :description, ['CC','Series','Competición'] %>-->
    <%= f.collection_select :description, Tipo.all, :nombre, :nombre, {prompt: "Selecciona el tipo"} %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  </div> 
</div>
<!-- fin formulario nuevo entrenamiento -->

<div id="entrenosrunner">
  <header>
    <h3>Lista de sesiones de entrenamiento de <%= link_to @runner.name, @runner %></h3>
  </header>
  <%= render @trainings %>
</div>

