<main id="listarunners">

<header>
  <h3>Estos son nuestros corredores <%= link_to 'Únete a ellos!', new_runner_registration_path %></h3>
</header>

<table>
  <thead>
    <tr> 
      <th>Name</th>
      <th>Country</th>
      <th>Age</th>
      <th>Bio</th>
    </tr>
  </thead>

  <tbody>
    <% @runners.each do |runner| %>
      <tr>
        <td><%= link_to runner.name.titleize, runner %></td>
        <td><%= runner.country %></td>
        <td><%= runner.age %></td>
        <td><%= runner.bio %></td>
        <!--<td><%= link_to 'Edit', edit_runner_path(runner) %></td>
        <td><%= link_to 'Destroy', runner, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</main>


