<section id="listarunners" class="container">

<% unless @runners.empty? %>

  <header class="container">
    <h3>Estos son nuestros corredores, <%= link_to '¡Únete a ellos!', new_runner_registration_path %></h3>
  </header>

  <table>
    <thead>
      <tr> 
        <th>Nombre</th>
        <th>País</th>
        <th>Edad</th>
        <th>Bio</th>
      </tr>
    </thead>

    <tbody>
      <% @runners.each do |runner| %>
        <tr>
          <td><%= link_to runner.name.titleize, runner %></td>
          <td><%= runner.country %></td>
          <% if runner.datebirth %>
            <td><%= runner.datebirth.to_s + " (" + ((Date.today - runner.datebirth).to_f/365).floor.to_s + ")" %></td>
          <% else %>
            <td>N/D</td>
          <% end %>  
          <td><%= runner.bio %></td>
          <!--<td><%= link_to 'Edit', edit_runner_path(runner) %></td>
          <td><%= link_to 'Destroy', runner, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <header class="container">
    <h3><%= link_to '¿Quieres ser el primero?', new_runner_registration_path %></h3>
  </header>

<% end %>

</section>


