<% if @runner %>

<div class="avatar">
  <%= image_tag @runner.avatar.url(:large) %>
</div>

<div id="datosrunner">
<p>
  <strong>Nombre:</strong>
  <%= @runner.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @runner.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @runner.bio %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @runner.age %>
</p>

<p>
  <strong>País:</strong>
  <%= @runner.country %>
</p>

<%= link_to 'Mis Zapatillas', runner_shoes_path(@runner) %>

<% if @runner == current_runner %>
<%= link_to 'Editar', edit_runner_path(current_runner) %>
<%= link_to 'Cambia tu contraseña', edit_runner_registration_path %>
<!--<%= link_to 'Borrar atleta', @runner, method: :delete %> -->
<% end %>

</div>


<div id="sesiones">
  <div id="realizadas">
    <!-- Tengo un @total con las sesiones que no se meter en el link_to-->
    <%= link_to 'Total Sesiones', runner_trainings_path(@runner) %>
    <h3>Zapatillas que usa: </h3>
    <h3>Récords personales</h3>
  </div>
  <!-- fin realizadas -->  

<% else %>
  <p>No existe el corredor buscado</p>
<% end %>
