<% if @shoes.empty? %>
  <div id="noshoes" class="container">
    <h2>No shoes Available!</h2>
  </div>

<% else %>

<h1>Listing shoes</h1>

<table>
  <thead>
    <tr>
      <th>Runner</th>
      <th>Nombre</th>
      <th>Totalkms</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shoes.each do |shoe| %>
      <tr>
        <td><%= link_to shoe.runner.name.titleize, shoe.runner %></td>
        <td><%= shoe.nombre %></td>
        <td><%= sprintf("%0.02f", shoe.totalkms) %></td>
        <td><%= link_to 'Ver', [shoe.runner, shoe] %></td>
        <% if shoe.runner == current_runner %>
          <td><%= link_to 'Eliminar', [shoe.runner, shoe], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% end %>

