<!-- Shoe -->
<div id="shoe" class="container">
    <% if @shoe.totalkms <300 %>
      <div id="shoedata" class="container desgastebajo">
    <% elsif @shoe.totalkms <550 %>
      <div id="shoedata" class="container desgastemedio">
    <% else %>
      <div id="shoedata" class="container desgastealto">
    <% end %>

    <p>
      <strong>Runner:</strong>
      <%= @runner.name %>
    </p>

    <p>
      <strong>Nombre:</strong>
      <%= @shoe.nombre %>
    </p>

    <p>
      <strong>Kms totales:</strong>
      <%= sprintf("%0.02f", @shoe.totalkms) %>
    </p>

    <p id="listaentrenos">
      <strong>Entrenamientos:</strong>
      <%= (@entrenamientos.count).to_s + " (ver)" %>
    </p>
    <!-- Entrenamientos de cada zapatilla -->
    <div id="entrenamientos_zapatilla" class="container">
      <% @entrenamientos.each do |training| %>
        <p><%= training.date %></p>
        <p><%= sprintf("%0.02f",training.kms) %></p>
        <p><%= time=hms(training.time) %></p>
        <p><%= training.description %></p>
      <% end %>
    </div>
    <!-- Fin Entrenamientos de cada zapatilla -->
  </div>
  <!-- Fin Shoedata -->

  <div class="shoeavatar">
    <% if @shoe.avatar %>
      <%= image_tag @shoe.avatar.url(:medium) %>
    <% else %>
      <p>Foto no disponible</p>
    <% end %>
  </div>

</div>
<!-- Fin Shoe -->

<!--<div class="nuevo">
  <%= link_to 'Editar', edit_runner_shoe_path(@runner, @shoe) %> |
  <%= link_to 'Ver todas', runner_shoes_path %>
</div>-->
